// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #0B0D17;
$secondary : #D0D6F9;
$white: #ffffff;

//Font
$fontSizeH1: 150px;
$fontSizeH2: 100px;
$fontSizeH3: 56px;
$fontSizeH4: 32px;
$fontSizeH5: 28px;
$fontSubheading1: 28px;
$fontSubheading2: 14px;
$fontNavText: 16px;
$fontFamilyBellefair: 'Bellefair';
$fontFamilyBrlow: 'Barlow Condensed';
