$primary   : #0B0D17;
$secondary : #D0D6F9;
$white: #ffffff;

//Font
$fontSizeH1: 150px;
$fontSizeH2: 100px;
$fontSizeH3: 56px;
$fontSizeH4: 32px;
$fontSizeH5: 28px;
$fontSubheading1: 28px;
$fontSubheading2: 14px;
$fontNavText: 16px;
$fontFamilyBellefair: 'Bellefair';
$fontFamilyBrlow: 'Barlow Condensed';

//Media
$brekpointSmall: 576px;
$brekpointMedium: 768px;
$brekpointLarge: 992px;
$brekpointXL: 1200px;
$brekpointXXL: 1400px;
